body {
    
  border: 1px solid black;
  background: lightgray;
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
 
}
form {
    /*display: inline-block;*/
    text-align: center;
    
    }

table { 
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 100%; 
border-collapse: collapse;
border-spacing: 0; 
}

td, th { 
border: 1px solid transparent;
height: 30px; 
transition: all 0.3s;  
}

th {
background: #DFDFDF;  
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */

input, textarea{
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  display: block;
  margin: 1rem 0;
  font: inherit;
}

#savebtn{ 
font-size:1.1em; 
padding:14px 16px; 
display:inline-block; 
margin:3px; 
border-radius:6px; 
border:solid grey; 
border-width:1px 1px 4px; 
box-shadow:0 4px 0 rgba(0,0,0,0.1), inset 0 0 3px rgba(0,0,0,0.1);
cursor:pointer; transition:0.4s ease; }
button {
  border: 0;
  padding: .5em 1em;
  font: inherit;
  border-radius: 1em;
}
